*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

ul[role='list'], ol[role='list']{
    list-style: none;
}

html:focus-within{
    scroll-behavior: smooth;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input, button, textarea, select{
    font: inherit;
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%;
    scroll-behavior: smooth;
    font-size:18px;
    line-height:28px;
    font-family:OpenSans ;
}
/* Main container */
.container{
    width:100%;
    margin:auto;
    max-width:1024px;
}


/* Heading */

/* Desktop */
.h1{
    font-size:60px;
    line-height:72px;
    letter-spacing:(-2%);
    font-weight:700;
}

.h2{
    font-size:36px;
    color:#10b981
    line-height: 40px;
    letter-spacing: (-2%);
    font-weight:600
}
 .h3{
    font-size:30px;
    line-height:36px;
    letter-spacing:(-2%);
    font-weight: 600;
 }


.P{

}

/* Colors */
white{
    color:#FFFFFF
}

lightWhite{
    color:#f9fafb
}

white100{
    color:#f3f4f6
}

gray200{
    color:#e5e7eb
}

gray300{
    color:#d1d5db
}

gray400{
    color:#9ca3af
}



gray500{
    color:#6b7280
}


gray600{
    color:#4b5563
}

gray700{
    color:#374151
}
gray800{
    color:#1f2937
}

gray900{
    color:#111827
}
gray950{
    color:#030712
}

green{
    color:#10b981
}



/* Header sections */

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 30px;
    background-color:#10b981;
}
header ul{
    list-style-type:none;
    display:flex
}

header ul li a{
    text-decoration:none;
    color:#020203;
    margin-right:15px;
    font-size:18px;
    /* font-weight: bold;; */
}


.cv-btn{
    background-color:#111827;
    padding: 0 10px;
    border-radius:5px;

}

ul>li>a:last-child{
    color:#f3f4f6;
}

.ss{
    color:white;
}